body {
	background-color: lightblue;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#container {
	width: 900px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}

header {
  display: flex;
  border-bottom: 1px gray solid;
  padding-bottom: 20px;
}

img {
	width: 100%;
}

#logoarea {
	width: 100px;
}

#headline {
	width: 600px;
	padding: 10px;
}

.resource {
  display: flex;
  margin-top: 20px;
}

.imgcol {
	width: 150px;
	padding: 10px;
}

.imgcol img {
	border-radius: 20px;
}

.descrcol h2 {
	padding-top: 0;
	margin-top: 0;
}

.descrcol {
	width: 600px;
	padding: 5px 0px 0px 20px;
	height: 200px;
}

.descrcol ul {
	list-style: none;
	display: inline;
	padding: 0;
}

.descrcol li a {
	padding: 10px;
	background-color: orange;
	text-decoration: none;
	border-radius: 8px;
	color: white;
}

footer {
	background-color: black;
	color: white;
	padding: 30px;
	text-align: center;
	height: 30px;
	border-radius: 8px;
}